.App {
  margin: 10px 20%;
  @media only screen and(max-width: 765px){
    margin: 10px;

  }
}
.Quote {
  background: linear-gradient(45deg, purple, blue);
  text-align: center;
  padding: 50px 0;
  margin: 25px 0;
  font-weight: 700;
  font-size: 2em;
  color: #fff;
  letter-spacing: 0.1em;
  border-radius: 5px;
}
blockquote {
  font-family: 'Courgette', cursive;
  margin: 5px;
}

body {
  font-family: 'Roboto', sans-serif;
}
a {
  color: #254dc6;
  text-decoration: none;
}
a:visited {
  color: #254dc6;
  text-decoration: none;
}
input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2px;
}
button {
  width: 200px;
  height: 50px;
  color: #fff;
  font-size: 1.5em;
  margin: 5px auto;
  display: block;
  background: linear-gradient(45deg, purple, blue);
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
.quiet {
  font-size: 0.8em;
  color: #777;
}
.Charities {
  // border: 1px solid #254dc6;
  // border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
  a {
    border: 1px solid #254dc6;
    border-right: none;
    border-left: none;
    // border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 3px;
  }
  // background: linear-gradient(45deg, blue, purple);
  // color: #FFF;
  padding: 5px;
}